# Build and Release Folders
bin/
bin-debug/
bin-release/
venv/
.idea/
.DS_Store/

# Other files and folders
.settings/
Records/
*.log
*.pyc
*.xlsx
.DS_Store
data/CyberThreatActorLoadingErrors.csv

TwitterStreamer.log
